body {
    background-color: black;
    color: cornflowerblue;
    background-image: url("../img/codeup-logo-with-Codey.png");
    background-repeat: no-repeat;
    background-position: top right;
}

@font-face {
    src: url("/Fonts/RobotoCondensed-Regular.ttf");
    font-family: 'CustomFont';
    font-style: normal;
    font-weight: 400;
}

*{
    font-family: 'CustomFont', Arial, sans-serif;
}

.fancy-header {
    color: blue;
}

h1.fancy-header {
    text-align: center;
}


h2 {
    color: blue;
    text-decoration: underline;
    text-align: center;
}


ul li {
    list-style: square;
}

a {
    transition: background-color 3s ease;

}
a:hover,
a:focus {
    background-color: #fff;
    color: #333;
}

table {
    margin: auto;
    font-size: 1.2rem;
    border: thin solid cornflowerblue;
    border-collapse: collapse;
}

th td {
    border: thin solid cornflowerblue;
    padding: 10px;
}

