body {
    background-color: black;
    color: black;
    background-image: url("../img/codeup-logo-with-Codey.png");
}

@font-face {
    src: url("/Fonts/RobotoCondensed-Regular.ttf");
    font-family: 'CustomFont';
    font-style: normal;
    font-weight: 400;
}

*{
    font-family: 'CustomFont', Arial, sans-serif;
}

.fancy-header {
    color: blue;
}

h1.fancy-header {
    text-align: center;
}


h2 {
    color: blue;
    text-decoration: underline;
}


ul {
    list-style: square;
}

a {
    transition: background-color 3s ease;

}
a:hover,
a:focus {
    background-color: #fff;
    color: #333;
}

