.fancy-header {
    color: chartreuse;
}

h1.fancy-header {
    text-align: center;
}

h1 {
    color: chartreuse;
    text-decoration: underline;
}

h2 {
    color: chartreuse;
    text-decoration: underline;
}

body {
    background-color: black;
    color: chartreuse;
}

ul {
    list-style: square;
}

